{% extends "base.html" %}

{% block content %}
<h1>Index</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt dolorem explicabo praesentium repellat voluptatibus incidunt iure! Nulla nisi repellendus nobis harum iusto, earum maxime fugiat repellat, perspiciatis magnam aspernatur.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, reiciendis impedit iusto explicabo recusandae similique nesciunt? Ea labore obcaecati commodi et, recusandae impedit ab, iusto nemo, dolorum saepe at cupiditate!</p>
{% endblock %}
