body {
  header {
    .ms-auto {
      margin-left: auto;
      margin-right: auto;
    }
    input.form-control {
      outline: none;
      box-shadow: none !important;
    }
  }
  main {
    background-color: rgba(250, 235, 215, 0.5);
    width: 70vw;
    max-width: 80%;
    min-width: 90vw;
    margin: 10px auto;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 88vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    table {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      align-items: center;
    }
    form {
      .top-button {
        button {
          width: 24%;
        }
      }
    }
    .dissapear {
      display: none;
      margin-top: 20px;
      width: 97%;
      min-height: 80%;
      border: 1px solid black;
      margin-left: auto;
      margin-right: auto;
    }
    #ex1 {
      form {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        display: block;
        width: 50%;
        min-width: 300px;
        height: 200px;
      }
    }
    #queue {
      padding: 20px;
      td {
        border: 1px solid black;
        width: 100px;
        height: 100px;
        text-align: center;
      }
    }
    #add {
      width: 200px;
      display: inline-flex;
      float: left;
      input {
        width: 100%;
      }
    }
    #remove {
      display: inline-flex;
      float: right;
    }
    #listDisplay {
      float: right;
      border: 1px solid black;
      width: 500px;
    }
    #listForm {
      margin-top: 20px;
      border: 1px solid black;
      width: 300px;
      float: left;

      input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
      }
      button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
      }
      select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
      }
      #buttonOK {
       
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100px;
      }
    }
  }
}
